doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Jade Drills
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Drill
      // img(src="")
      // - var firstName = "Aimee";
      // #main
      //   input#myid(type="text")
      //   button#myid2.
      //     Click Me
      // #list
      //   ul
      //      - for (var i = 0; i <=100; i++)
      //        li= i
